<div fxLayout="row wrap" fxLayoutAlign="start center">
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="recipeIngredient.qty" placeholder="1" type="number">
  </mat-form-field>
  <mat-form-field appearance="outline"fxFlex="auto">
    <input matInput [(ngModel)]="recipeIngredient.ingredient" placeholder="cup tomato juice">
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" (click)="editIngredient()" *ngIf="data.recipeIngredient; else showAdd">Edit</button>
  <ng-template #showAdd>
    <button mat-raised-button color="primary" (click)="addIngredient()">Add</button>
  </ng-template>
</div>
