<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div *ngIf="!webcamImage" fxLayout="row wrap" fxLayoutAlign="center center">
    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
      [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
    </webcam>
    <div fxFill fxLayout="row wrap" fxLayoutAlign="center center">
      <button mat-raised-button color='primary' (click)="triggerSnapshot();">Capture</button>
    </div>
    <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{error | json}}</li>
    </ul>
  </div>
  <div class="snapshot" *ngIf="webcamImage" fxLayout="row wrap" fxLayoutAlign="center center" fxFill>
    <img [src]="webcamImage.imageAsDataUrl" style="height: 100%; width: 100%;" />
    <div fxFill fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFill><mat-progress-bar [value]="uploadPercent | async"></mat-progress-bar></div>
      <button mat-raised-button color='accent' (click)="upload();">Upload</button>
      <button mat-raised-button color='warn' (click)="retake();">Retake</button>
    </div>
  </div>
</div>
