rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create, read, update, delete: if request.auth.uid == userId;

      match /recipes/{recipeId} {
        allow create, read, update, delete: if request.auth.uid == userId;

        match /recipeIngredients/{recipeIngredientId} {
          allow create, read, update, delete: if request.auth.uid == userId;
        }
        match /recipeInstructions/{recipeInstructionId} {
          allow create, read, update, delete: if request.auth.uid == userId;
        }
      }
    }
  }
}
