rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create, read, update, delete: if request.auth.uid == userId;

      match /imageUploads/{picId} {
        allow create, read, update, delete: if request.auth.uid == userId;
      }
    }
  }
}
