<div *ngIf='recipes | async; let recipes' fxLayout="row wrap" fxLayoutAlign="center start">
  <div *ngIf="recipes.length === 0">
    <h3>No Recipes Loaded Yet</h3>
    <button mat-raised-button color='accent' [routerLink]="'add'">Add Recipe</button>
  </div>
  <mat-card *ngFor="let recipe of recipes" fxLayout="row wrap" fxLayoutAlign="start start" style="margin: 5px;">
    <div fxFlex="100">
      <div [routerLink]="recipe.id" style="cursor: pointer;">
        <div *ngIf="recipe?.cloudinary?.public_id; else showLoader">
          <cl-image dpr="auto" responsive width="auto" crop="fill" loading="lazy"
            public-id={{recipe?.cloudinary?.public_id}} height="300" width="300">
            <cl-placeholder></cl-placeholder>
          </cl-image>
        </div>
      </div>
      <ng-template #showLoader>
        <cl-image fetch_format="png" responsive width="auto" crop="scale"
          public-id="ajonp-ajonp-com/Logos/ajonp/AJonP_Rounded" height="300" width="300">
        </cl-image>
      </ng-template>
      <div fxFlex style="margin: 5px 0 5px 0;">
        <h2 [routerLink]="recipe.id" style="cursor: pointer;">{{recipe.name}}</h2>
        <p>{{recipe.description}}</p>
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <p *ngIf="recipe.cookTime">Cook Time: {{recipe.cookTime}} minutes</p>
          <p *ngIf="recipe.prepTime">Prep Time: {{recipe.prepTime}} minutes</p>
        </div>
      </div>
    </div>
    <p fxFlex="100" style="color:lightgray">Last Updated: {{recipe.updatedAt.toDate() | date:'medium'}}</p>
  </mat-card>
</div>
