<div *ngIf="recipe | async; let recipe" fxLayout="row" fxLayoutAlign="start start">
  <mat-card fxFlex fxLayout="row wrap" fxLayoutAlign="center start" style="margin: 5px 0 5px 0;">
    <div fxFlex="50" fxFlex.lt-lg="100">
      <div *ngIf="recipe?.cloudinary?.public_id; else showLoader">
        <cl-image dpr="auto" responsive width="auto" crop="fill" loading="lazy" public-id={{recipe?.cloudinary?.public_id}} style="height: 100%; width: 100%;">
          <cl-placeholder></cl-placeholder>
        </cl-image>
        <button mat-raised-button (click)="removePhoto()">Remove</button>
      </div>
      <ng-template #showLoader>
        <div *ngIf="recipe?.storageLocation; else showCamera">
          Processing Image...
        </div>
      </ng-template>
      <ng-template #showCamera>
        <app-camera [recipeId]="recipeId"></app-camera>
      </ng-template>
    </div>
    <div fxFlex="40" fxFlex.lt-lg="100" style="margin: 5px 0 5px 0;" style="margin: 0 0 0 10px;">
      <div fxLayout="row" fxLayoutAlign="end center">
        <div *ngIf="saving$ | async; else saved">
          <mat-chip-list>
            <mat-chip color="primary" selected>Saved</mat-chip>
          </mat-chip-list>
        </div>
        <ng-template #saved>
          <mat-chip-list>
            <mat-chip color="accent" selected>Saving...</mat-chip>
          </mat-chip-list>
        </ng-template>
        <button mat-button color="warn" (click)="delete()">Delete</button>
      </div>
      <div fxLayout="column" [formGroup]="recipeForm" *ngIf="recipeForm">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cook Time</mat-label>
          <input matInput type="number" formControlName="cookTime">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Keywords</mat-label>
          <input matInput type="text" formControlName="keywords">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Prep Time</mat-label>
          <input matInput type="number" formControlName="prepTime">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Recipe Category</mat-label>
          <input matInput type="text" formControlName="recipeCategory" placeholder="e.g. 'dinner', 'main course'...">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Recipe Cuisine</mat-label>
          <input matInput type="text" formControlName="recipeCuisine"
            placeholder="e.g. 'French', 'Mediterranean','American'...">
        </mat-form-field>
      </div>
    </div>
    <div fxFlexFill fxLayout="row wrap" fxLayoutAlign="center">
      <div fxFlex="30" fxFlex.lt-md="100" style="margin: 20px;">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <h2>Ingredients</h2>
          <button mat-raised-button color="primary" (click)="openIngredientDialog(recipeRef)">Add Ingredient</button>
        </div>
        <table mat-table [dataSource]="recipeIngredientsDataSource" style="width: 100%;">
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> Qty </th>
            <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
          </ng-container>

          <ng-container matColumnDef="ingredient">
            <th mat-header-cell *matHeaderCellDef> Ingredient </th>
            <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-button color="primary" (click)="openIngredientDialog(recipeRef, element)">Edit</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="recipeIngredientsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: recipeIngredientsColumns;"></tr>
        </table>
      </div>
      <div fxFlex="30" fxFlex.lt-md="100" style="margin: 20px;">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <h2>Instructions</h2>
          <button mat-raised-button color="accent" (click)="openInstructionDialog(recipeRef)">Add Instruction</button>
        </div>
        <table mat-table [dataSource]="recipeInstructionsDataSource" style="width: 100%;">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Text </th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-button color="primary" (click)="openInstructionDialog(recipeRef, element)">Edit</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="recipeInstructionsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: recipeInstructionsColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-card>
</div>
