<div *ngIf='recipes | async; let recipes'>
  <div *ngIf="recipes.length === 0">
    <h3>No Recipes Loaded Yet</h3>
    <button mat-raised-button color='accent' [routerLink]="'/add'">Add Recipe</button>
  </div>
  <div *ngFor="let recipe of recipes" fxLayout="row" fxLayoutAlign="start start">
    <mat-card fxFlex fxLayout="row wrap" fxLayoutAlign="center start" style="margin: 5px 0 5px 0;">
      <div fxFlex="100" [fxFlex.gt-sm]="40" [routerLink]="recipe.id"   style="cursor: pointer;">
        <img [src]="recipe?.image" style="width: 100%; height: 100%;" />
      </div>
      <div fxFlex style="margin: 5px 0 5px 0;">
        <h2 [routerLink]="recipe.id" style="cursor: pointer;">Recipe</h2>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
        <button color="primary" mat-button [routerLink]="recipe.id">Select</button>
      </div>
    </mat-card>
  </div>
</div>
