<div *ngIf="recipe | async; let recipe" fxLayout="row" fxLayoutAlign="start start">
  <mat-card fxFlex fxLayout="row wrap" fxLayoutAlign="center start" style="margin: 5px 0 5px 0;">
    <div *ngIf="recipe?.cloudinary?.public_id; else showLoader">
      <cl-image dpr="auto" responsive width="auto" crop="fill" loading="lazy" public-id={{recipe?.cloudinary?.public_id}} height="300" width="300">
        <cl-placeholder></cl-placeholder>
      </cl-image>
    </div>
    <ng-template #showLoader>
      <cl-image fetch_format="png" responsive width="auto" crop="scale" public-id="ajonp-ajonp-com/Logos/ajonp/AJonP_Rounded" height="300" width="300">
      </cl-image>
    </ng-template>
    <div fxFlex style="margin: 5px 0 5px 0;">
      <h2>Recipe</h2>
    </div>
    <div fxFill fxLayout="row wrap" fxLayoutAlign="end center">
      <button mat-button color="accent" routerLink="edit">Edit</button>
    </div>
  </mat-card>
</div>
