<div *ngIf='recipes | async; let recipes' fxLayout="row wrap" fxLayoutAlign="center">
  <div *ngIf="recipes.length === 0">
    <h3>No Recipes Loaded Yet</h3>
    <button mat-raised-button color='accent' [routerLink]="'/add'">Add Recipe</button>
  </div>
  <div *ngFor="let recipe of recipes" fxLayout="row wrap" fxLayoutAlign="start start" style="margin: 5px;" fxFlex="100%" fxFlex.gt-xs="80%" fxFlex.gt-sm="50%">
    <mat-card fxLayout="row wrap" fxLayoutAlign="center start" style="height: 100%; width: 100%;">
      <div fxFlex="100" [fxFlex.gt-sm]="40" [routerLink]="recipe.id"   style="cursor: pointer;">
        <img [src]="recipe?.image" style="width: 100%; height: 100%;" />
      </div>
      <div fxFlex style="margin: 5px 0 5px 0;">
        <h2 [routerLink]="recipe.id" style="cursor: pointer;">{{recipe.name}}</h2>
        <p>{{recipe.description}}</p>
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <p *ngIf="recipe.cookTime">Cook Time: {{recipe.cookTime}} minutes</p>
          <p *ngIf="recipe.prepTime">Prep Time: {{recipe.prepTime}} minutes</p>
        </div>
      </div>
      <p fxFlexFill style="color:lightgray">Last Updated: {{recipe.updatedAt.toDate() | date:'medium'}}</p>
    </mat-card>
  </div>
</div>
