<div fxLayout="row wrap" fxLayoutAlign="start center">
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="recipeInstruction.name" placeholder="Preheat" type="text">
  </mat-form-field>
  <mat-form-field appearance="outline"fxFlex="auto">
    <input matInput [(ngModel)]="recipeInstruction.text" placeholder="Heat oven to 425°F.">
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" (click)="editInstruction()" *ngIf="data.recipeInstruction; else showAdd">Edit</button>
  <ng-template #showAdd>
    <button mat-raised-button color="primary" (click)="addInstruction()">Add</button>
  </ng-template>
</div>
