<mat-toolbar color="primary" fxLayout="row" style="position: fixed;top: 0;left: 0;right: 0;">
  <div fxFlex="initial">
    <button mat-button routerLink="/">
      <h2>Recipes</h2>
    </button>
  </div>
  <div fxFlex="auto">
    <button mat-raised-button color='accent' routerLink="recipes/add"  *ngIf="afAuth.user | async as user">Add Recipe</button>
  </div>
  <div fxFlex="nogrow">
    <app-authenticate></app-authenticate>
  </div>
</mat-toolbar>
<mat-sidenav-container style="position: absolute; top: 60px; bottom: 0;left: 0;right: 0;">
  <mat-sidenav #drawer class="example-sidenav" mode="side">
  </mat-sidenav>
  <mat-sidenav-content fxLayout="row wrap" fxLayoutAlign="center start" style="padding-top: 10px;">
      <router-outlet *ngIf="afAuth.user | async as user; else welcome"></router-outlet>
      <ng-template #welcome>
        Welcome to the recipe loader for Google Actions.
      </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
